html, body {
    background: linear-gradient(to right, #FEB47B, #FF7E5F, #FF6B6B, #D76BFF);
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
    animation: gradient 30s ease infinite;
    top: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h4 {
    font-size: 20px;
    color: white;
}

h3 {
    font-size: 28px;
    color: white;
}

p {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 240, 225, 0);
    z-index: 10;
    transition: background-color 0.3s ease;
}

.topnav {
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #8c384e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.topnav a:hover {
    background-color:  rgba(0, 0, 0, 0.3);
    color: white;
  }

.topnav-right {
    float: right;
}

.topnav .icon {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 240, 225, 0);
    text-align: center;
    z-index: 10;
    padding: 5px;
}

footer a {
    color: #8c384e;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
footer a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }


#content {
    margin: 0px;
}

h1 {
    text-align: center;
}

.containerFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.containerFlex .item {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.containerFlex h2 {
    text-align: center;
    font-size: 28px;
    color: #8c384e;
    background-image: linear-gradient(to right, #b8f1f9, #aefdcc);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    margin: 20px auto;
}

.containerFlex a{
    text-decoration: none;
    color: inherit;
}

.containerFlex a:hover h2::after {
    content: '\f0c1';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
    margin-left: 5px;
    font-size: 0.8em;
    position: absolute; 
    transform: translateY(20%);  
}

.containerArtists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 20px;
}

.containerArtists a {
    text-decoration: none;
    color: inherit;
}

.containerArtists .item{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2vw;
    color: #8c384e;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    opacity: 1;
    width: 300px;
    height: 400px;
    
}

.containerArtists .item .dayAndStage {
    position: relative;
    top: 65px;
    right: -100px;
    background-color: rgba(62, 220, 255, 0.8);
    padding: 0.1vw 0.2vw;
    border-radius: 1vw;
    font-size: 14px;
}

.containerArtists .item .favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2vw;
}

.containerArtists .item .favorite:hover .fas {
    color: gold;
}

.containerArtists .item .favorite:hover .far {
    color: gold;
}


.containerArtists .item:hover{
    transform: scale(1.05);
}

.containerArtists .item .name {
    width: 100%;
    text-align: center; 
    margin-bottom: 5%; 
 }

.containerArtists .item .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.containerArtists .item .imageContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.containerArtists .item .genre {
    width: 100%;
    text-align: center;
    margin-top: 0;
}


.photo {
    height: 100vh;
    background-size: cover;
    background-position: top center;
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;  
}

.photo h1 {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700; 
    color: #8c384e; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: text-decoration 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
}

.photo button{
    position: absolute;
    top: 75px;
    right: 50px;
    background-color: rgba(255, 215, 0, 0.5);
    border-radius: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
}

iframe.map {
    width: 700px;
    height: 450px;
    border: none;
    border-radius: 10px;
}


.containerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}


.containerGrid .item{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
    color: #8c384e;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: transform 0.2s;
}

h1 {
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700; 
    color: #8c384e; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

.containerDays {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerDays .days {
    display: flex;
    gap: 10px;
    color: #8c384e;
}

.containerDays .days .day {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.containerDays .days .day:hover {
    background-color:  rgba(0, 0, 0, 0.3);
    color: white;
}

.containerDays .days .day.selected {
    border-color: #000;
    font-weight: bold;
}

.favorite-toggle {
    margin-top: 10px;
    color: gold;
}

.play-button {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 20px black;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    outline: none;

}

.play-button i {
    font-size: 50px;
    color: #8c384e;
    margin-left: -6px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;    
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.tickets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 20px;
}

.tickets-container a {
    text-decoration: none;
    color: inherit;
}

.tickets-container .ticket-card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(45deg, #ffcc00, #ff6600);
    width: 250px; 
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: rotate(-2deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #8c384e;
}

.tickets-container .ticket-card:hover {
    transform: rotate(0deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tickets-container .ticket-card .title {
    font-size: 1.5em;
    font-weight: bold;
    color: #aefdcc;
    font-style: italic;
}

.tickets-container .ticket-card .artistTicket {
    font-size: 1em;
    font-style: italic;
    margin: auto;
}

.tickets-container .ticket-card .description {
    margin: 10px 0;
    font-size: 1.2em;
}

.tickets-container .ticket-card .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.socialMediaContainer {
    font-size: 5em;    
    padding-top: 10px;
    text-align: center;
}

.socialMediaContainer #facebook {
    color: #3b5998 ;
}

.socialMediaContainer #instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.socialMediaContainer #twitter {
    color: white ;
}

.containerSchedule {
    display: flex;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
}

.dayColumn {
    flex: 50%;
    padding: 10px;
}

.scheduleHour {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 10px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}
.hourLabel {
    display: flex;
    font-weight: bold;
}

.artistsInHour {
    display: flex;
    flex-direction: column;
}
.artistSlot {
    color: #ffcc00;
    font-weight: bold;
    font-family: cursive;
    margin-left: 10px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav-right {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
        background-color: rgb(255, 240, 225) ;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .topnav-right{
        float: none;
        display: block;
        text-align: left;
    }
    .containerArtists {
        width: 95%;
    }
    .containerArtists .item {
        width: 80%;
        height: 80%;
    }
    .containerArtists .item .favorite{
        position: absolute;
        left: 250px;
        top: 10px;
        font-size: 5vw;
    }
    .containerArtists .item .dayAndStage{
        top: 0;
        right: -70px;
    }
    .tickets-container {
        width: 90%;
    }
    .tickets-container .item{
        width: 150px;
        padding-left: 1vw;
    }
    iframe.map {
        width: 300px;
        height: 300px;
    }
    .containerGrid .item{
        width: 70%;
        font-size: 4vw;
    }
    form {
        width: 70%;
        padding: 15px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }
    .play-button i {
        margin-left: -8px;
        margin-top: -7px;
    }
    .photo[id='1']{
        background-size: cover;
        background-position: 10% top;
    }
    .photo[id='2']{
        background-size: cover;
        background-position: 47% top;
    }
    .photo[id='3']{
        background-size: cover;
        background-position: 90% top;
    }
    .photo[id='4']{
        background-size: cover;
        background-position: 80% top;
    }
    .photo[id='5']{
        background-size: cover;
        background-position: 52% top;
    }
    .photo[id='6']{
        background-size: cover;
        background-position: 45% top;
    }
    .photo[id='7']{
        background-size: cover;
        background-position: 50% top;
    }
    .photo[id='8']{
        background-size: cover;
        background-position: 53% top;
    }
    .photo[id='9']{
        background-size: cover;
        background-position: 30% top;
    }
    .photo button{
        top: 800px;
        right: 20px;
        font-size: 4vw;
        cursor: pointer;
    }
    .containerSchedule{
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {

.photo[id='1']{
    background-size: cover;
    background-position: 10% top;
}
.photo[id='2']{
    background-size: cover;
    background-position: 47% top;
}
.photo[id='3']{
    background-size: cover;
    background-position: 90% top;
}
.photo[id='4']{
    background-size: cover;
    background-position: 80% top;
}
.photo[id='5']{
    background-size: cover;
    background-position: 52% top;
}
.photo[id='6']{
    background-size: cover;
    background-position: 45% top;
}
.photo[id='7']{
    background-size: cover;
    background-position: 50% top;
}
.photo[id='8']{
    background-size: cover;
    background-position: 53% top;
}
.photo[id='9']{
    background-size: cover;
    background-position: 30% top;
}
}